<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8924a908-5005-456c-9dcc-b674e71a34ca/resourceGroups/mza-apis-rg/providers/Microsoft.ContainerRegistry/registries/mza0apis0acr</ResourceId>
    <ResourceName>mza0apis0acr</ResourceName>
    <ResourceGroup>mza-apis-rg</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <RegistryUrl>https://mza0apis0acr.azurecr.io/</RegistryUrl>
    <UserName>mza0apis0acr</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cd0ab30a-be41-49d7-ad1d-8d838de18522</ProjectGuid>
  </PropertyGroup>
</Project>