@{
    ViewData["Title"] = "Calcul de mensualité";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Calcul des mensualités.</p>
@*@using (Html.BeginForm())
{*@
<form action="~/Calcul/Resultat">
    Capital à emprunter : <input name="capital" type="text" /><br />
    Taux annuel (pourcentage) : <input name="tauxAnnuelPrc" type="text" /><br />
    Durée (nombre de mois) : <input name="duree" type="text" /><br />
    <input id="send" type="submit" value="Calcul" /><br />
</form>
@*}*@
